/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  background: var(--veryDarkBlue-main-bg);
  display: grid;
  place-items: center;
}
